apiVersion: v1
baseDomain: CHANGEME
metadata:
  name: CHANGEME
networking:
  machineCIDR: CHANGEME
compute:
- name: worker
  replicas: 0
controlPlane:
  name: master
  replicas: 3
  platform:
    baremetal: {}
platform:
  baremetal:
    apiVIP: CHANGEME
    ingressVIP: CHANGEME
    dnsVIP: CHANGEME
    provisioningBridge: provisioning
    provisioningNetworkInterface: eno1
    externalBridge: baremetal
    hosts:
      - name: openshift-master-0
        role: master
        bmc:
          address: ipmi://CHANGEME
          username: CHANGEME
          password: CHANGEME
        bootMACAddress: CHANGEME
        hardwareProfile: default
      - name: openshift-master-1
        role: master
        bmc:
          address: ipmi://CHANGEME
          username: CHANGEME
          password: CHANGEME
        bootMACAddress: CHANGEME
        hardwareProfile: default
      - name: openshift-master-2
        role: master
        bmc:
          address: ipmi://CHANGEME
          username: CHANGEME
          password: CHANGEME
        bootMACAddress: CHANGEME
        hardwareProfile: default
