apiVersion: v1
kind: ConfigMap
metadata:
  name: metal3-config
  namespace: openshift-machine-api
data:
  cache_url:
  rhcos_image_url: {{ "http://${PRIMARY_IP}/" if cache else "${RHCOS_PATH}" }}${RHCOS_URI}
