parameters:
 image: CentOS-7-x86_64-GenericCloud.qcow2
 numcpus: 2
 memory: 2048
 nodes: 3
 node_macs: []
 node_names: []
 network:

{% for node in range(0,nodes) %}
{{ node_names[node] }}:
 image: {{ image }}
 numcpus: {{ numcpus }}
 memory: {{ memory }}
 nets:
 - name: {{ network }}
   mac: {{ node_macs[node] }}
{% endfor %}
