cluster: testk
numcpus: 4
network: default
use_br: true
extra_disk: true
master_memory: 16384
worker_memory: 8192
deploy_bootstrap: false
bootstrap_memory: 8192
disk_size: 30
extra_disk_size: 10
template: rhcos-410.8.20190520.1-qemu.qcow2
domain: karmalabs.com
masters: 1
workers: 1
api_ip: 
